*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.background{
    background-image: url(./imagemDeFundo.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.918);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    padding-left: 8%;
    padding-right: 8%;
    /* background-color: rgba(0, 0, 0, 0.918); */
    text-decoration: none;
    background-size: cover;background-position: center;
    background-position: center;
}

.navulli{
display: inline-flex;
padding: 10px 25px;
list-style-type: none;
text-decoration: none;
}

.navullia{
color: rgb(252, 252, 252);
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
padding: 10px 25px;
text-decoration: none;
}

.navullia:hover{
color: #ba181b;
transform: scale(1.2);
text-decoration: none;
}

.navh2{
color: rgb(253, 253, 253);
font-size: 35px;
cursor: pointer;
letter-spacing: 1px;
text-decoration: none;
}

.navspan{
color: #f9004d;
text-decoration: none;
}