.projeto-contato {
    display: flex;
}
.me-contate {
    width: 100%;
    height: 300px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.me-contate p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.Redes-sociais{
    display: flex;
    
}
.container-contato{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
}

.icon{
   height: 30px;
   width: 30px; 
}

.Redes-sociais a{
    background-color: #f9004d;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 22px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
}